<div class="col-lg-10">
	<div class="card rounded-2 mt-5 mb-5">
		<div class= "card-body">
			<h1 class="text-center">Create New Employee</h1>
		</div>
	</div>
	<div id="flash-messages">
		<% flash.each do |type, message| %>
			<div class="alert alert-<%= type %>">
				<%= message %>
			</div>
		<% end %>
	</div>
	<%# <form action="/action_page.php">
		<label for="fname">First name:</label><br>
		<input type="text" id="fname" name="fname" value="John"><br>
		<label for="lname">Last name:</label><br>
		<input type="text" id="lname" name="lname" value="Doe"><br>
		<br>
		<input type="submit" value="Submit">
	</form> %>
	<%= form_with model: @employee do |form| %>
		<div class="row">
			<div class="col-lg-4">
				<div class="form-group">
					<%= form.label :fname, class: 'mb-10 mt-10'%>
					<%= form.text_field :fname, class: 'form-control form-control-lg' %>
				</div>
			</div>
		</div>
		<div clas="row">
			<div class="col-lg-5">
				<div class="form-group">
					<%= form.label :lname, class: 'mb-10 mt-10'%>
					<%= form.text_field :lname, class: 'form-control form-control-lg' %>
				</div>
			</div>
			<div clas="row">
				<div class="col-lg-4">
					<div class="form-group">
						<%= form.label :email , class: 'mb-5 mt-5'%>
						<%= form.text_field :fname, class: 'form-control form-control-lg' %>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<%= form.label :city, class: 'mb-5 mt-5'%>
						<%= form.text_field :city, class: 'form-control form-control-lg' %>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group">
						<%= form.label :Mobile, class: 'mb-5 mt-5'%>
						<%= form.text_field :mobile, class: 'form-control form-control-lg' %>
					</div>
				</div>
			</div>
			<div>
				<%= form.submit 'Submit', class: 'btn btn-primary btn-lg'%>
				<%=link_to 'Back', employees_path(@employee), class:"btn btn-outline-primary btn-lg mt-5 mb-5"%>
			</div>
		<%end%>
	</div>